<div class="search-results"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      (scrolled)="onScrollDown($event)">
  <!-- <p *ngFor="let questions of array; let i = index">
        {{questions.question}}
  </p> -->
  <div class="block-content block-content-full tab-content overflow-hidden">
        <!-- Users -->
        <div class="tab-pane fade active show" id="search-users" role="tabpanel" aria-expanded="true">
            <div class="font-size-h3 font-w600 py-30 mb-20 text-center border-b">
                <span class="text-primary font-w700">{{array.length}}</span> users found for <mark class="text-danger">client</mark>
            </div>
            <table class="table table-striped table-borderless table-hover table-vcenter">
                <thead class="thead-default">
                    <tr>
                        <th class="d-none d-sm-table-cell text-center" style="width: 40px;">#</th>
                        <th class="text-center" style="width: 70px;"><i class="si si-user"></i></th>
                        <th>Name</th>
                        <th class="d-none d-sm-table-cell">Course Applied</th>
                        <th class="d-none d-lg-table-cell" style="width: 20%;">Score</th>
                        <th class="text-center" style="width: 80px;">Aggregate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of array; let i = index">
                        <td class="d-none d-sm-table-cell text-center">
                            <span class="badge badge-pill badge-primary">{{i+1}}</span>
                        </td>
                        <td class="text-center">
                            <img class="img-avatar img-avatar48" src="assets/img/avatars/avatar5.jpg" alt="">
                        </td>
                        <td class="font-w600">
                            <a href="javascript:void(0)">
                                {{user.user}}
                            </a>
                        </td>
                        <td class="d-none d-sm-table-cell">
                           {{user.course}}
                        </td>
                        <td class="d-none d-lg-table-cell">
                            <span class="badge badge-primary">{{user.score}}</span>
                        </td>
                        <td class="text-center">
                            {{user.aggregate}} 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END Users -->
    </div>
<div class="row">
    <div class="col-12" *ngIf="scrolled">
            <p class="text-center">
                    <i class="fas fa-6x fa-circle-o-notch fa-spin"></i>
            </p>
    </div>
</div>




</div>


