<app-time></app-time>   
<div class="row" *ngIf="questions">
    <div class="col-md-4 mt-4">
            <div class="block">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Navigate to Questions</h3>
                </div>
                <div class="block-content">
                    <div class="row">
                            <div class="btn-group mt-2 mr-2 ml-2" role="group" aria-label="Basic example" *ngFor="let no of questions; let i = index;">
                                    <button type="button" (click) = "toQuestion(i)" [ngClass]="{active: userAnswer[i]}"  class="btn btn-secondary btn-xs">{{i+1}}</button>
                            </div>
                    </div>
                </div>
            </div>
    </div>
<div class="col-md-7 mt-4 " *ngIf="questions" >                                   
        <div class="block" >
            <div class="block-header block-header-default">
                <h3 class="block-title lead">{{getSubjectName()}}: Question Number {{i+1}}</h3>
                <div class="block-options">
                    <button class="btn btn-md btn-alt-primary" (click)="submit()" >
                        <i class="fa fa-check"></i> Submit
                    </button>
                    <button (click) ="reset()" class="btn btn-md btn-alt-danger">
                        <i class="fa fa-repeat"></i> Reset
                    </button>
                    
                </div>
            </div>
            <div class="block-content" >
                <p class="lead font-weight-normal"> {{questions[i].question}} </p>
                <nav class="clearfix push mt-4">
                    <button type="button" class="btn btn-alt-secondary min-width-100 float-right sticky-top" (click) = "next(i)" placement="top" ngbTooltip="Next Question">Next</button>
                    <button type="button" class="btn btn-alt-secondary min-width-100 float-left sticky-top" (click) ="previous(i)" placement="top" ngbTooltip="Previous Question">Previous</button>
                </nav>
                <hr>
                <div class="row no-gutters items-push">
                    <div class="col-12">
                        <label class="css-control css-control-lg css-control-primary css-checkbox">
                            <input type="radio" class="css-control-input" name="user_answer" [(ngModel)]="userAnswer[i]" value="a">
                            <span class="css-control-indicator"></span> {{questions[i].optiona}}
                        </label>
                    </div>
                    <div class="col-12">
                            <label class="css-control css-control-lg css-control-primary css-checkbox">
                                <input type="radio" class="css-control-input" name="user_answer" [(ngModel)]="userAnswer[i]" value="b">
                                <span class="css-control-indicator"></span> {{questions[i].optionb}}
                            </label>
                    </div>
                    <div class="col-12 ">
                                <label class="css-control css-control-lg css-control-primary css-checkbox">
                                    <input type="radio" class="css-control-input" name="user_answer" [(ngModel)]="userAnswer[i]" value="c">
                                    <span class="css-control-indicator"></span> {{questions[i].optionc}}
                                </label>
                     </div>
                    <div class="col-12">
                                <label class="css-control css-control-lg css-control-primary css-checkbox">
                                    <input type="radio" class="css-control-input" name="user_answer" [(ngModel)]="userAnswer[i]" value="d">
                                    <span class="css-control-indicator"></span> {{questions[i].optiond}}
                                </label>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-info" (click) = "userAnswer[i] = ''">Clear Selected Answer</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>





