


<div class="row gutters-tiny invisible mt-4" data-toggle="appear">
    <!-- Row #1 -->
    <div class="col-6 col-xl-3">
        <a class="block block-link-rotate block-transparent text-right bg-primary-lighter" href="javascript:void(0)" (click)="startQuiz(0)" >
            <div class="block-content block-content-full clearfix">
                <div class="float-left mt-10 d-none d-sm-block">
                    <i class="si si-bag fa-3x text-primary"></i>
                </div>
                <div class="font-size-h3 font-w600 text-primary-darker">Mathematics </div>
            </div>
        </a>
    </div>
    <div class="col-6 col-xl-3">
        <a class="block block-link-rotate block-transparent text-right bg-primary-lighter" href="javascript:void(0)" (click)="startQuiz(1)">
            <div class="block-content block-content-full clearfix">
                <div class="float-left mt-10 d-none d-sm-block">
                    <i class="si si-wallet fa-3x text-primary"></i>
                </div>
                <div class="font-size-h3 font-w600 text-primary-darker">English Lang.</div>
            </div>
        </a>
    </div>
    <div class="col-6 col-xl-3" >
        <a class="block block-link-rotate block-transparent text-right  bg-primary-lighter"  href="javascript:void(0)"  (click)="startQuiz(2)" >
            <div class="block-content block-content-full clearfix">
                <div class="float-left mt-10 d-none d-sm-block">
                    <i class="si si-envelope-open fa-3x text-primary"></i>
                </div>
                <div class="font-size-h3 font-w600 text-primary-darker">Gen. Paper</div>
            </div>
        </a>
    </div>
    <div class="col-6 col-xl-3">
        <a class="block block-link-rotate block-transparent text-right bg-primary-lighter" href="javascript:void(0)" (click)="startAllQuiz()">
            <div class="block-content block-content-full clearfix">
                <div class="float-left mt-10 d-none d-sm-block">
                    <i class="si si-users fa-3x text-primary"></i>
                </div>
                <div class="font-size-h3 font-w600 text-primary-darker">All Subjects</div>
            </div>
        </a>
    </div>
    <!-- END Row #1 -->
</div>

<div class="row gutters-tiny invisible mt-4" data-toggle="appear">
    <!-- Row #2 -->
    <div class="col-md-6">
        <div class="block block-themed block-mode-loading-refresh">
            <div class="block-header bg-primary">
                <h3 class="block-title">
                    Your Performance <small>This week</small>
                </h3>
                <div class="block-options">
                    <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                        <i class="si si-refresh"></i>
                    </button>
                    <button type="button" class="btn-block-option" data-toggle="block-option" data-action="content_toggle"></button>
                    <button type="button" class="btn-block-option">
                        <i class="si si-wrench"></i>
                    </button>
                </div>
            </div>
            <div class="block-content block-content-full">
                <div class="pull-all">
                    <!-- Lines Chart Container -->
                    <canvas class="js-chartjs-dashboard-lines"></canvas>
                </div>
            </div>
            <div class="block-content">
                <div class="row items-push">
                    <div class="col-6 col-sm-4 text-center text-sm-left">
                        <div class="font-size-sm font-w600 text-uppercase text-muted">This Month</div>
                        <div class="font-size-h4 font-w600">720</div>
                        <div class="font-w600 text-success">
                            <i class="fas fa-caret-up"></i> +16%
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 text-center text-sm-left">
                        <div class="font-size-sm font-w600 text-uppercase text-muted">This Week</div>
                        <div class="font-size-h4 font-w600">160</div>
                        <div class="font-w600 text-danger">
                            <i class="fas fa-caret-down"></i> -3%
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 text-center text-sm-left">
                        <div class="font-size-sm font-w600 text-uppercase text-muted">Average</div>
                        <div class="font-size-h4 font-w600">24.3</div>
                        <div class="font-w600 text-success">
                            <i class="fas fa-caret-up"></i> +9%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">Your O'Level Grade </h3> <span class="small text-danger">20 % of your total aggregate</span>
                <div class="block-options">
                    <button type="button" class="btn-block-option">
                        <i class="si si-wrench"></i>
                    </button>
                </div>
            </div>
            <div class="block-content">
                <div *ngIf="!waec_result">
                        <form [formGroup]="olevelForm"  (ngSubmit)="submitolevelForm(olevelForm.value)">
                                <div class="form-group row alert alert-danger" *ngIf="waec_error">
                                        <div class="col-md-9">
                                            {{waec_error}}
                                        </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="form-material floating open">
                                            <select class="form-control" id="material-select2" name="material-select2" formControlName="maths">
                                                <option></option><!-- Empty value for demostrating material select box -->
                                                <option value="4">A1</option>
                                                <option value="3.6">B2</option>
                                                <option value="3.2">B3</option>
                                                <option value="2.8">C4</option>
                                                <option value="2.4">C5</option>
                                                <option value="2.0">C6</option>
            
                                            </select>
                                            <label for="material-select2">Mathematics</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-material floating open">
                                            <select class="form-control" id="material-select2" name="material-select2" formControlName="english">
                                                <option></option><!-- Empty value for demostrating material select box -->
                                                <option value="4">A1</option>
                                                <option value="3.6">B2</option>
                                                <option value="3.2">B3</option>
                                                <option value="2.8">C4</option>
                                                <option value="2.4">C5</option>
                                                <option value="2.0">C6</option>
            
                                            </select>
                                            <label for="material-select2">English Language</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-material floating open">
                                            <select class="form-control" id="material-select2" name="material-select2" formControlName="first_required">
                                                <option></option><!-- Empty value for demostrating material select box -->
                                                <option value="4">A1</option>
                                                <option value="3.6">B2</option>
                                                <option value="3.2">B3</option>
                                                <option value="2.8">C4</option>
                                                <option value="2.4">C5</option>
                                                <option value="2.0">C6</option>
            
                                            </select>
                                            <label for="material-select2">First Required Subject</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-material floating open">
                                            <select class="form-control" id="material-select2" name="material-select2" formControlName="second_required"> 
                                                <option></option><!-- Empty value for demostrating material select box -->
                                                <option value="4">A1</option>
                                                <option value="3.6">B2</option>
                                                <option value="3.2">B3</option>
                                                <option value="2.8">C4</option>
                                                <option value="2.4">C5</option>
                                                <option value="2.0">C6</option>
            
                                            </select>
                                            <label for="material-select2">Second Required Subject</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-material floating open">
                                            <select class="form-control" id="material-select2" name="material-select2" formControlName="third_required">
                                                <option></option><!-- Empty value for demostrating material select box -->
                                                <option value="4">A1</option>
                                                <option value="3.6">B2</option>
                                                <option value="3.2">B3</option>
                                                <option value="2.8">C4</option>
                                                <option value="2.4">C5</option>
                                                <option value="2.0">C6</option>
            
                                            </select>
                                            <label for="material-select2">Third Required Subject</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-alt-primary btn-lg">Submit</button>
                                    </div>
                                </div>
                            </form>
                </div>

                <div class="table-responsive" *ngIf="waec_result" >
                    <p class="text-center text-info">Your Saved WAEC result</p>
                    <table class="table table-hover table-striped  table-vcenter">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th style="width: 50%;">Subject</th>
                                <th  style="width: 30%;">Grade</th>
                                <th  style="width: 30%;">Point</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let result of waec_result; let i = index">
                                    <td>{{i+1}}</td>
                                    <td class="font-w600 ">{{subjects[i]}}</td>
                                    <div [ngSwitch] ="result">
                                            <td *ngSwitchCase="4">
                                                A1
                                            </td>
                                            <td *ngSwitchCase="3.6">
                                                B2
                                            </td>
                                            <td *ngSwitchCase="3.2">
                                                B3
                                            </td>
                                            <td *ngSwitchCase="2.8">
                                                C4
                                            </td>
                                            <td *ngSwitchCase="2.4">
                                                C5
                                            </td>
                                            <td *ngSwitchCase="2.0">
                                                C6
                                            </td>
                                    </div>
                                    <td>{{result}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                            <p class="lead text-success"> Total WAEC Result: {{waec_sum}}</p>
                    </div>
                    <p class="text-center m-2 mt-15">
                            <button class="btn btn-alt-info" (click) ="waec_result = !waec_result" >
                                 <span><i class="fas fa-edit"></i></span>   Edit Waec Result
                            </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- END Row #2 -->
</div>




<!--  Modals -->
<div class="modal fade" id="modal-fadein" tabindex="-1" role="dialog" aria-labelledby="modal-small" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-content">
                    <form action="be_forms_elements_material.html" method="post" onsubmit="return false;">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="form-material floating open">
                                    <select  class="form-control" id="number" #number  name="material-select2">
                                        <option></option><!-- Empty value for demostrating material select box -->
                                        <option value="4">10</option>
                                        <option value="2">20</option>
                                        <option value="3">30</option>
                                    </select>
                                    <label for="material-select2">Select Number of Questions</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-alt-success" id="submit_btn" (click)="start()"  data-dismiss="modal">
                    <i class="fas fa-check"></i> Start 
                </button>
            </div>
        </div>
    </div>
</div>